# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!includes
!themes
!www

# Ignore folders.
.storage
.cloud
.google.token
icloud

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
entity_registry.yaml
phue-*.conf
*.pyc
